<% page_header "Error - Not Found" %>
<% content_for :main do %>
	<p>
		The link that you just clicked, or the form you submitted, has led you to a
    url that we don't have any content for. For the technically minded, this
    is a "404" error.
	</p>
<% end %>
<% content_for :side do %>
	<%= link_to_function "Go back", "history.go(-1)", :class => "back" %>
<% end %>