<div id="footer">
	<hr/>
	<noscript>
		<p>
			Some stuff won't work because you don't have Javascript enabled.
		</p>
	</noscript>
</div>
<% if "production" == Rails.env && !APP_CONFIG["google_analytics_id"].blank? -%>
	<%= render :partial => "common/analytics"  %>
<% end -%>