<div id="footer">
	<hr/>
	<noscript>
		<p>
			Some stuff won't work because you don't have Javascript enabled.
		</p>
	</noscript>
</div>
<%= render :partial => "common/analytics" if RAILS_ENV == "production" %>
